{% extends 'base.html.twig' %}

{% block title %}Hello CrudJuegoController!{% endblock %}

{% block body %}
<div class="page-content">
    <table class="tabla">
        <thead>
                <th><a class="juegoP">Nombre</a></th>
                <th><a class="juegoP">Editorial</a></th>
                <th><a class="juegoP imagenP">Imagen</a></th>
                <th><a class="juegoP">Mínimo</a></th>
                <th><a class="juegoP">Máximo</a></th>
                <th><a class="juegoP">Ancho</a></th>
                <th><a class="juegoP">Alto</a></th>
        </thead>
        <tbody>

            {% for juego in juegos %}
            <tr>
                {# <td><p>{{juego.id}}</p></td> #}
                <td><a class="juegoP">{{juego.nombre}}</a></td>
                <td><a class="juegoP">{{juego.editorial}}</a></td>
                <td><img src="/assets/images/{{juego.imagen}}" class="imagenJuego"></td>
                <td><a class="juegoP">{{juego.minimo}}</a></td>
                <td><a class="juegoP">{{juego.maximo}}</a></td>
                <td><a class="juegoP">{{juego.ancho}}</a></td>
                <td><a class="juegoP">{{juego.alto}}</a></td>
                <td><a class="juegoP" href="{{ absolute_url(path('crud_juego_borrar',{id: juego.id}))}}"><img src="/assets/images/Papelera.png" class="imagenJuego"></a></td>
                <td><a class="juegoP" href="{{ absolute_url(path('crud_juego_editar',{id: juego.id}))}}"><img src="/assets/images/lapiz.png" class="imagenJuego"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
